/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */
/* CRIME DETECTADO */


body {
    background-color: pink;
    font-family: 'Rajdhani', sans-serif;
}

h1 {
    color: #444;
}






















/* Respostas
ul li {
    color: tomato;
}

ol li {
    color: papayawhip;
}

ul li a {
    color: inherit; /* ou tomato * /
    text-decoration: none; /* remove o sublinhado * /
    cursor: inherit; /* remove a mãozinha * /
}

*/