* {
    font-family: Rajdhani;
}

body {
    background-color: rgb(218, 218, 218);
}

header {
    background-color: gray;
    font-style: italic;
    text-align: center;
}

.cabeçalho {
    background-color: rgb(116, 116, 116);
    font-display: initial;
}

h1 {
    text-align: center;
}

.bloco {
    text-align: center;
    background-color: rgb(138, 113, 113);
}

p {
    font-family: 'Noto Sans JP', sans-serif;
}

footer {
    text-align: center;
}